<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- Définition de la servlet JERSEY -->
  <servlet>
    <servlet-name>servletREST</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>ws.rest.tp8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Mapping de la servlet -->
  <servlet-mapping>
    <servlet-name>servletREST</servlet-name>
    <url-pattern>/tp8/*</url-pattern>
  </servlet-mapping>
</web-app>
